html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body{
     overflow-x: hidden;
     font-family: 'Nova Round', cursive;
    font-size:16px;
    color:rgb(63, 7, 7);
}
}
.fill-screen{
    padding-top: 50px;
    background-size: cover;
    background-position:center;
}
.fixed-attachment{
    background-attachment: fixed;
}
.small-text{
    font-size: 12px;
}
.down-icon a{
    font-size: 300%;
    color:#252729;
    text-decoration: none;
}
.down-button{
    position:absolute;
    bottom:40px;
    width:100%;
    text-align: center;

}
.navbar{
    margin-bottom: 0px;  
}
a{
    font-weight: bold;
    padding: 10px;
    color:rgb(63, 7, 7);
}
.logo{
    font-size: 30px;
    color:#e46198;
}
.logo > a:hover{
    text-decoration: none;
    color:#e46198;
}
.title-row{
    position:relative;
    min-height:300px;
}
.title{
    position:absolute;
    padding:20px;
    top: 60%; 
    left:50%;
    margin-right:-50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
}
.first-name{
    margin-top:160px;
    color:#fff;
    font-size:300%;

}
.last-name{
    color:#000;
    font-weight:900;
    background-color: #e46198;
    padding:0px 20px;
}
.sec-header{
    padding-top:50px;
    padding-bottom: 50px;
    text-align: center;
    display:inline;
}
.info{
    font-size: 25px;
    color:black;
    height:30%;
    text-align: justify;
    border:1px solid black;
}
.table-custom {
   font-size: 20px; 
     padding:10px;
     height:30%;
}

.social{
    padding:20px;
    height:40%;
}

.social a{
    color:black;
    font-size: 35px;
}

.activity-elements{
    text-align: center;
}
.card-container{
    perspective: 700px;
    -webkit-perspective: 700px;
    
}
.card h4,h3{
    margin:0;
    color:#fff;
    
}
.card{
    display:inline-block;
    position:relative;
    text-align: center;
    line-height: 450px;
    margin:10px;
    width:400px;
    height:300px;
    transition:all 0.6s ease;
    transform-style: preserve-3d;
}
.front, .back{
    position:absolute;
    width:100%;
    height: 100%;
    backface-visibility: hidden;
    padding:20px;
}
.front {
    background:#fcafcf;

}
.back {
    background: #fcafcf;
    transform:rotateY(180deg);
}
.card:hover{
    transform:rotateY(180deg);
}
.text-banner{
    text-align: center;
    margin:30px 20px;
}
.box{
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24),0 0 4px 0 rgba(0,0,0,0.14);
    max-width:330px;
    padding:30px;
    box-sizing: border-box;
    margin:20px;
    background:rgb(170, 211, 218);
}
.box-slim{
    padding:30px;
    max-width:360px;
}
.my-work{
    margin-bottom: 50px;
    
}
#about{
    margin-bottom: 50px;
}
#education{
    margin-bottom: 50px;
}
@media(max-width:788px){
    .fixed-attachment{
        background-attachment: scroll;
    }
}
.sec-header > h1{
    padding-top: 20px;
    padding-bottom: 20px;
}
.portfolio-section{
    margin-bottom: 50px;
  }

.big img{
    -webkit-transition:all 0.5s ease;}

.big img:hover{
    transform: scale(1.3);
}
.foot{
    text-align: center;

}
.social-footer{
    font-size: 20px;
}
  
  
